<main class="container">
  <div class="row">
    <div class="mx-auto mt-3">
      <h1>Welcome to <i class="fas fa-book"></i><span class="font-weight-bold">Bookers</span>!</h1>
     </div>
  </div>
</main>
